@using MSIT11404project1.Areas.Accomodation.Models;
@using MSIT11404project1.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/fullcalendar-3.4.0/fullcalendar.css" rel="stylesheet" />
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/OwlCarousel2-2.2.1/docs/assets/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/main.css">
    @RenderSection("link", false)
    <style>
        .backgorund {
            background-image: url('@Url.Content("~/img/01-fabric-shirt.png")');
            background-repeat:repeat;
            background-size:auto;
        }
        .badge {
        background-color:red;
        margin-right:3px;
        }
    </style>


    @RenderSection("style", required: false)
</head>
<body>
  
        <div class="Headback">
            <div class="jumbotron" id="Headrow">

                <div class="container">
                    <div class="col-lg-4">
                        <span class="logo"></span>
                        <h1 class="header">BackPackers</h1>
                        <h5>MSIT11404</h5>
                    </div>

                    <nav class="navbar navbar-default col-lg-8" id="navbar1">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true" id="btnnav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav" id="menu1">
                                    <li class="active">@Html.ActionLink("首頁", "BlogHome", "Main", new { area = "Blog" }, "")<span class="sr-only">(current)</span></li>

                                    <li><a href="@Url.Action("Index", "JustForUser", new { area = "Accomodation" }, "")">房源搜尋</a></li>

                                    @{
                                        if (Request.Cookies["MemberID"] != null)
                                        {
                                            IRepository<LoginRecord> lorecord = new Repository<LoginRecord>();

                                            int a = Convert.ToInt32(Request.Cookies["MemberID"].Value);
                                            var entity = lorecord.GetAll();

                                            DateTime lastone = DateTime.Now;
                                            if (entity.Where(n => n.MemberID == a).OrderByDescending(n => n.LogoutTime).ToList().Count>1)
                                            {

                                                var g = entity.Where(n => n.MemberID == a).OrderByDescending(n => n.LoginTime).Skip(1).First().LogoutTime;
                                                lastone = Convert.ToDateTime(g);
                                            }



                                            var c = entity.Where(n => n.MemberID == a).OrderByDescending(n => n.LoginTime).First().LoginTime;
                                            DateTime lastlogin = Convert.ToDateTime(c);

                                            HouseMainRepository check = new HouseMainRepository();
                                            List<int> keys = new List<int>();
                                            <li>
                                                <a href="@Url.Action("CheckReservation", "JustForUser", new { area = "Accomodation" })">
                                                    查詢訂房紀錄<span class="badge">
                                                        @{
                                            BookingRepository books = new BookingRepository();
                                            List<Booking> booklists = new List<Booking>();
                                            
                                                if (Request.Cookies["CheckR"] != null)
                                                {
                                                    DateTime lastrequest = Convert.ToDateTime(Request.Cookies["CheckR"].Value);
                                                    booklists = books.FindBookByCustomerID(a).Where(n => n.IsConfirm == true && n.ReplyDate > lastrequest).ToList();
                                                }
                                                else
                                                {
                                                    booklists = books.FindBookByCustomerID(a).Where(n => n.IsConfirm == true && n.ReplyDate > lastone).ToList();
                                                }

                                            int count = 0;

                                            if (booklists.Count > 0) {
                                                count = booklists.Count;
                                            }

                                                        }@count
                                                    </span>
                                                </a>
                                            </li>
                                       if (check.FindhouseKey(a, out keys))
                                            {
                                                List<Booking> bookforland = new List<Booking>();
                                                                <li class="dropdown">

                                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房東管理<span class="caret"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li>@Html.ActionLink("房源管理", "theveryfirst", "LandLord", new { area = "Accomodation" }, "")</li>

                                                                        <li role="separator" class="divider"></li>
                                                                        <li>
                                                                            <a href="@Url.Action("ManageCalendar", "LandLord", new { area = "Accomodation" })">
                                                                                行事曆<span class="badge">
                                                                                    @{
            
                if (Request.Cookies["LandCheck"] != null)
                {
                    DateTime lastrequest = Convert.ToDateTime(Request.Cookies["LandCheck"].Value);

                    if (books.FindbookbyHouseKey(keys, out bookforland))
                    {
                        bookforland = bookforland.Where(n => n.Createdate > lastrequest && n.IsConfirm == null).ToList();
                    }
                }
                else
                {
                    if (books.FindbookbyHouseKey(keys, out bookforland))
                    {
                        bookforland = bookforland.Where(n => n.IsConfirm == null && n.Createdate >lastone).ToList();
                    }
                }

            

            int count2 = 0;

            if (bookforland.Count > 0)
            {
                count2 = bookforland.Count;
            }

                                                                                    }@count2
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                   }
                                                   else
                                                   {
                                                                                            <li class="dropdown">

                                                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房東<span class="caret"></span></a>
                                                                                                <ul class="dropdown-menu">
                                                                                                    <li>@Html.ActionLink("成為房東", "theveryfirst", "LandLord", new { area = "Accomodation" }, "")</li>

                                                                                                </ul>
                                                                                            </li>
            }
                                                                                        <li>@Html.ActionLink("檢舉紀錄", "aboutbadcomment","JustForUser",new {area="Accomodation" },"")</li>
                                                                                            if (Request.Cookies["IsAdmin"] != null) {
                                                                                        <li>@Html.ActionLink("前往後臺","Index2","AboutHouse",new {area="Admin"},"") </li>
                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                            <li><a class="logincheck" style="cursor:pointer">成為房東</a></li>

                                            }
                                                                                            }

                                </ul>


                                <ul class="nav navbar-nav navbar-right">

                                    <li>
                                        <span class="iconlogin"> </span>
                                    </li>
                                    <li class="loginli">


                                        <!--       <a href="~/Members/Login">登入 <span class="iconlogin"></span></a> -->

                                        @{
                                        if (Request.Cookies["MemberID"] == null)
                                        {
                                                @Html.ActionLink("登入", "Login", "Member", new { Area = "Member" }, "");
                                        }
                                        else
                                        {
                                                @Html.ActionLink("登出", "Logout", "Member", new { Area = "Member"}, "");
                                                @*@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Member", null, new { Area = "Member" });*@
                                        }

                                        }

                                    </li>
                                    @{
                                    if (Request.Cookies["MemberID"] == null)
                                    {
                                            <li>
                                                <span class="iconregist"></span>
                                            </li>
                                            <li>
                                                <!--  <a href="#">註冊<span class="iconregist"></span></a> -->

                                                @Html.ActionLink("註冊", "MemberJoin", "Member", new { Area = "Member" }, "")
                                            </li>
                                    }
                                    }
                                </ul>

                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>

                </div>


            </div>

            <div id="News">
                <span class="spanSign">最新消息:</span>
                <div id="mask">
                    <ul id="trick01">
                        <li><a><span class="glyphicon glyphicon-star"></span>News one</a></li>
                        <li><a><span class="glyphicon glyphicon-star"></span>News Two</a></li>
                    </ul>

                </div>

            </div>
        </div>
        <div class="backgorund container-fluid" style="min-height:800px">
            <div class="content">

                @RenderBody()


            </div>
        </div>
        <div class="requestlog" style="display:none">
            <div>
                <p>請先登入才能成為房東喔!</p>
            </div>
        </div>


        <footer id="footer">
            <div class="jumbotron">
                <ul>
                    <li><a>聯絡我們</a></li>
                    <li><a>媒體</a></li>
                </ul>
            </div>
        </footer>

 


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    
    <script src="~/fullcalendar-3.4.0/lib/jquery.min.js"></script>
    <script src="~/fullcalendar-3.4.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-3.4.0/fullcalendar.min.js"></script>
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
    
    <script>
        window.onload = function () {
            
            
            $(this).resize(function ()
            {
        
                var pagewidth = $(this).width();
                if (pagewidth <= 750) {
                    $('#navbar1').css('background-color', 'black');
                }
                else
                {
                    $('#navbar1').css('background-color', 'transparent');
                }
            })
            //var selecteffect = $('#effectTypes').val();
            $('.logo').mouseenter(over);
            function over()
            {
                $(this).effect("slide",500);
            }

            //alert(document.getElementById("mask").offsetWidth);
            var movingNews = document.getElementById("trick01");
            //alert(window.innerWidth);
            var timeinterval = setInterval(moving1, 10);
            var min = 0;

            function moving1() {
                var a = $("#mask").width();
                if (min < -250) {

                    min = a;
                    movingNews.style.left = min + 'px';
                    min - 1;
                }
                else {

                    movingNews.style.left = min + 'px';
                    min -= 1;
                }

            }

        }
        $('.logincheck').click(function () {
            $('.requestlog').dialog({
                'buttons': {
                    '好喔': function () {
                       window.location='@Url.Action("Login","Member",new {area="Member" })'
                    },
                    '先算了': function () {
                        $('.requestlog').dialog('close');
                    }
                }
            })

        })
    </script>
    @RenderSection("script", required: false)
</body>
</html>
