@model MSIT11404project1.Models.Products
@{
    ViewBag.Title = "產品詳細資料";
    Layout = "~/Views/Shared/_LayoutPro.cshtml";
}



@section style{
    <style>
        .resize {
            resize: none;
        }

        .form-horizontal {
            background-color: RGBA(200,200,200,0.7);
        }

        .list-inline {
            height: 50px;
        }
    </style>
}

<div class="panel panel-warning THome">
    <div class="panel-heading">

        <ul class="list-inline">
            <li><h3><strong>產品詳細資料</strong></h3></li>
            <li>@Html.Action("MenuLink")</li>
        </ul>

    </div>
    <div class="panel-body">
        <div class="col-md-2">
            <div class="list-group">
                @Html.Action("ListLink")
            </div>
        </div>

        <div class="col-md-10">
            <div class="row">


                <div class="col-sm-4">
                    <img src="@Url.Action("GetImage", new { id = Model.ProductID})" id="img" class="img-thumbnail" />

                </div>
                <div class="col-sm-8">
                    <h3>
                          @Html.DisplayFor(p => p.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = "ModelName" } })
                    @if (Model.Quantity == 0)
                    {
                        <strong class="line-height" style="color:white;background-color:red ">
                            已完售
                        </strong>
                    }
                    </h3>
                    <br>
                    <h4><strong>@Html.DisplayNameFor(p => p.ProductContent)</strong></h4>
                    <p style="white-space:pre-wrap;">@Html.DisplayFor(p => p.ProductContent)</p>
                    <p>可購買量: @Html.DisplayFor(p => p.Quantity, new { htmlAttributes = new { @class = "form-control" } })</p>
                    <p>@Html.LabelFor(p => p.UnitPrice, new { @class = "control-label" }): @Html.DisplayFor(p => p.UnitPrice, new { htmlAttributes = new { @class = "control-label" } }) </p>
                    <p>建立日: @Html.DisplayFor(p => p.Date)</p>
                    <p> @Html.ActionLink("修改", "Update", "Products", new { area = "Transaction", id = Model.ProductID }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })     @Html.ActionLink("刪除", "Delete", "Products", new { area = "Transaction", id = Model.ProductID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })</p>



                </div>
            </div>
        </div>
    </div>
</div>
